ENV=DEV
POSTGIS_IMAGE=postgis/postgis:16-3.5
PG_HOST_PORT=changeme
QWAT_PG_PORT=5432
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=qwat
DOCKER_TAG=development
QGIS_TEST_VERSION=
UID=1000
GID=1000
